[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
uk-covid19 = "*"
mysql = "*"
mysql-connector-python = "*"
flask-mysqldb = "*"
pyyaml = "*"
flask-login = "*"

[requires]
python_version = "3.8"
