.login-form-block {
  background-color: #ffee99;
  width: 60%;
}

/* .message-block {
  height: 100px;
  background-color: #EE9B5C;
  border-color: #FFC400;
  width: 60%;
} */

/* .msg-text {
  padding-top: 5%;
} */
