{% extends 'generalLayout.html' %}

{% block editData %}
<title>{{ title }}</title>
<style>
  .tenantDataGrid {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
  }

  .dataRow {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, minmax(190px, 220px));
    overflow-x: auto;
    grid-gap: 4px;
    padding: 3px;
    padding-left: 5%;
    padding-top: 13px;
  }

  .dataRow:nth-child(odd) {
    background-color: #dddddd;
  }

  .dataRow h3 {
    margin-left: 50%;
    transform: translateX(-60%);
  }
</style>

<form id="updateTenantsForm" onsubmit="updateTenantsData()">
  <div class="tenantDataGrid">

    {% for d in data %}

    <!-- General Tenenat Info -->
    <div class="dataRow">
      <div class="dataTile">
        <label class="dataTitle">Tenant ID</label>
        <h3 name="tenancyNo" id="tenancyNo"> {{d[0]}} </h3>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">First Name</label>
        <input type="text" class="dataInput" value="{{d[1]}}" name="firstName">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Last Name </label>
        <input type="text" class="dataInput" value="{{d[2]}}" name="surname">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date Of Birth</label>
        <input type="text" class="dataInput" value="{{d[3]}}" name="dob">
      </div>
    </div>

    <!-- Tenant Location Infomation -->
    <div class="dataRow">
      <div class="dataTile">
        <label class="dataTitle">Post Code</label>
        <input type="text" class="dataInput" value="{{d[4]}}" name="postcode">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Local Authority</label>
        <input type="text" class="dataInput" value="{{d[5]}}" name="localAuthority">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Business Area </label>
        <input type="text" class="dataInput" value="{{d[6]}}" name="businessArea">
      </div>
    </div>

    <!-- Tenant Covid Status Infomation -->
    <div class="dataRow">
      <div class="dataTile">
        <label class="dataTitle">Covid Positive</label>
        <input type="text" class="dataInput" value="{{d[7]}}" name="positiveCase">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Status</label>
        <input type="text" class="dataInput" value="{{d[8]}}" name="status">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date of Result</label>
        <input type="text" class="dataInput" value="{{d[9]}}" name="resultDate">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Isolating Till</label>
        <input type="text" class="dataInput" value="{{d[10]}}" name="endOfIsolation">
      </div>
    </div>

    <!-- Tenant Vaccination Status Infomation -->
    <div class="dataRow">
      <div class="dataTile">
        <label class="dataTitle">Covid Vaccination Recieved</label>
        <input type="text" class="dataInput" value="{{d[11]}}" name="vaccinated">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date Vaccinated</label>
        <input type="text" class="dataInput" value="{{d[12]}}" name="dateVaccinated">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date Vaccination Effective </label>
        <input type="text" class="dataInput" value="{{d[13]}}" name="dateVacEffective">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Vaccination Type</label>
        <input type="text" class="dataInput" value="{{d[14]}}" name="vaccinationType">
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Reason For No Vaccination</label>
        <input type="text" class="dataInput" value="{{d[15]}}" name="reasonForNoVac">
      </div>
    </div>
  </div>

  <div class="row" style="justify-content: center">
    <button class="btn btn-success" type="submit" name="confirm" onclick="return updateTenantsData()">
      Submit Changes <i class="fa fa-check"></i>
    </button>
  </div>
  <br>
</form>

<center>
  <span id="txt"></span>
</center><br>

<script>
  function updateTenantsData() {
    console.log("updating tenants data...")
    var tenancyNo = document.getElementById("tenancyNo").innerText; //Come back to
    var firstName = document.forms["updateTenantsForm"]["firstName"].value;
    var surname = document.forms["updateTenantsForm"]["surname"].value;
    var dob = document.forms["updateTenantsForm"]["dob"].value;
    var postcode = document.forms["updateTenantsForm"]["postcode"].value;
    var localAuthority = document.forms["updateTenantsForm"]["localAuthority"].value;
    var businessArea = document.forms["updateTenantsForm"]["businessArea"].value;
    var positiveCase = document.forms["updateTenantsForm"]["positiveCase"].value;
    var status = document.forms["updateTenantsForm"]["status"].value;
    var resultDate = document.forms["updateTenantsForm"]["resultDate"].value;
    var endOfIsolation = document.forms["updateTenantsForm"]["endOfIsolation"].value;
    var vaccinated = document.forms["updateTenantsForm"]["vaccinated"].value;
    var dateVaccinated = document.forms["updateTenantsForm"]["dateVaccinated"].value;
    var dateVacEffective = document.forms["updateTenantsForm"]["dateVacEffective"].value;
    var vaccinationType = document.forms["updateTenantsForm"]["vaccinationType"].value;
    var reasonForNoVac = document.forms["updateTenantsForm"]["reasonForNoVac"].value;
    console.log(dob)
    console.log(firstName)

    params = 'tenancyNo=' + tenancyNo + '&firstName=' + firstName + '&surname=' + surname + '&dob=' + dob + '&postcode=' + postcode + '&localAuthority=' + localAuthority + '&businessArea=' + businessArea + '&positiveCase=' + positiveCase +
      '&status=' + status + '&resultDate=' + resultDate + '&endOfIsolation=' + endOfIsolation + '&vaccinated=' + vaccinated + '&dateVaccinated=' + dateVaccinated + '&dateVacEffective=' + dateVacEffective + '&vaccinationType=' + vaccinationType +
      '&reasonForNoVac=' + reasonForNoVac;

    console.log(params)

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/EditData/{{d[0]}}', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }
</script>
{% endfor %}
{% endblock %}
