{% extends 'generalLayout.html' %}

{% block editData %}

<style>
  .tenantDataGrid {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
  }

  .dataRow {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, minmax(190px,220px));
    overflow-x: auto;
    grid-gap: 4px;
    padding: 3px;
    padding-left: 5%;
    padding-top: 13px;
  }

  .dataRow:nth-child(odd){
    background-color: #dddddd;
  }

  .dataRow h3{
    margin-left: 50%;
    transform: translateX(-60%);
  }
</style>

<div class="tenantDataGrid">
  {% for d in data %}

  <!-- General Tenenat Info -->
  <div class="dataRow">
    <div class="dataTile">
      <label class="dataTitle">Tenant ID</label>
      <h3> {{d[0]}}</h3>
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">First Name</label>
      <input type="text" class="dataInput" value="{{d[1]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Last Name </label>
      <input type="text" class="dataInput" value="{{d[2]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Date Of Birth</label>
      <input type="text" class="dataInput" value="{{d[3]}}">
    </div>
  </div>

  <!-- Tenant Location Infomation -->
  <div class="dataRow">
    <div class="dataTile">
      <label class="dataTitle">Post Code</label>
      <input type="text" class="dataInput" value="{{d[4]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Local Authority</label>
      <input type="text" class="dataInput" value="{{d[5]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Business Area </label>
      <input type="text" class="dataInput" value="{{d[6]}}">
    </div>
  </div>

  <!-- Tenant Covid Status Infomation -->
  <div class="dataRow">
    <div class="dataTile">
      <label class="dataTitle">Covid Positive</label>
      <input type="text" class="dataInput" value="{{d[7]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Status</label>
      <input type="text" class="dataInput" value="{{d[8]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Date of Result</label>
      <input type="text" class="dataInput" value="{{d[9]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Isolating Till</label>
      <input type="text" class="dataInput" value="{{d[10]}}">
    </div>
  </div>

  <!-- Tenant Vaccination Status Infomation -->
  <div class="dataRow">
    <div class="dataTile">
      <label class="dataTitle">Covid Vaccination Recieved</label>
      <input type="text" class="dataInput" value="{{d[11]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Date Vaccinated</label>
      <input type="text" class="dataInput" value="{{d[12]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Date Vaccination Effective </label>
      <input type="text" class="dataInput" value="{{d[13]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Vaccination Type</label>
      <input type="text" class="dataInput" value="{{d[14]}}">
    </div>
    <div class="dataTile">
      <label for="" class="dataTitle">Reason For No Vaccination</label>
      <input type="text" class="dataInput" value="{{d[15]}}">
    </div>
  </div>
  {% endfor %}
</div>


<div class="row" style="justify-content: center">
  <button class="btn btn-success" type="submit" name="confirm" onclick="return confirm('Are you sure you want to change this data?')">
    Confirm Changes
    <i class="fa fa-check"></i>
  </button>
</div><br>

<span id="txt"></span>

<!-- <script>
  function updateTenantsData() {
    console.log("updating tenants data...")
    var tenancyNo = document.forms["updateTenantsForm"]["tenancyNo"].value;
    params = 'tenancyNo='+tenancyNo;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/UpdateData', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }
</script> -->
{% endblock %}
