{% extends 'generalLayout.html' %}

{% block editTable %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addTenantStyle.css') }}">
<title>{{ title }}</title>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <center>
        <br>
        <div class="alert alert-warning alert-dismissible" role="alert" style="width: 50%">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ msg }}
        </div>
      </center>
    {% endfor %}
  {% endif %}
{% endwith %}

<center><br>
  <div class="searchBar">
    <form id="searchTenantsForm" method="post" onsubmit="searchForTenants()">
      <div class="input-group">
        <input type="text" class="form-control" name="searchTenantName" placeholder="Search for tenants">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
      </div>
    </div>
    </form>
  </div><br>
  <span id="txt"></span>
</center>


<table class="table">
  <thead>
    <tr>
      <th scope="col">tenancyNo</th>
      <th scope="col">First Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Postcode</th>
      <th scope="col">Local Authority</th>
      <th scope="col">Business Area</th>
      <th scope="col">Positive Case?</th>
      <th scope="col">Vaccinated?</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <tr>
      <td>{{d[0]}}</td>
      <td>{{d[1]}}</td>
      <td>{{d[2]}}</td>
      <td>{{d[3]}}</td>
      <td>{{d[4]}}</td>
      <td>{{d[5]}}</td>
      <td>{{d[6]}}</td>
      <td>{{d[7]}}</td>
      <td>{{d[8]}}</td>
      <td>
        <a href="/EditData/{{d[0]}}">
          <button class="btn btn-secondary" type="submit" name="edit">
            <i class="fa fa-edit"></i> Edit
          </button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table><br>

<center>
  <h1 id="addTenantTitle">Add New Tenant</h1><br>
</center>

<form id="insertTenantsForm" onsubmit="insertTenantsData()">
  <div class="tenantDataGrid">
    {% for e in editData %}

    <!-- General Tenenat Info -->
    <div class="dataRow">
      <div class="dataTile">
        <label class="dataTitle">Tenant ID</label>
        <br>
        <h3 name="tenancyNo" id="tenancyNo"> {{e[0] + 1}}</h3>
      </div>
      {% endfor %}
      <div class="dataTile">
        <label for="" class="dataTitle">First Name</label>
        <br>
        <input type="text" class="dataInput" value="" name="firstName" required>
      </div>
      <div class="dataTile (YYYY-MM-DD)">
        <label for="" class="dataTitle">Last Name </label>
        <br>
        <input type="text" class="dataInput" value="" name="surname" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date Of Birth (YYYY-MM-DD)</label>
        <br>
        <input type="text" class="dataInput" value="" name="dob" required>
      </div>
      <div class="dataTile">
        <label class="dataTitle">Location ID</label>
        <br>
        <input type="text" class="dataInput" value="" name="locationID" required>
      </div>
    </div>

    <!-- Tenant Covid Status Infomation -->
    <div class="dataRow">
      <div class="dataTile">
        <label class="dataTitle">Covid Positive</label>
        <br>
        <input type="text" class="dataInput" value="" name="positiveCase" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Status</label>
        <br>
        <input type="text" class="dataInput" value="" name="status" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date of Result (YYYY-MM-DD)</label>
        <br>
        <input type="text" class="dataInput" value="" name="resultDate" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Isolating Till (YYYY-MM-DD)</label>
        <br>
        <input type="text" class="dataInput" value="" name="endOfIsolation" required>
      </div>
    </div>

    <!-- Tenant Vaccination Status Infomation -->
    <div class="dataRow">
      <div class="dataTile">
        <label class="dataTitle">Covid Vaccination Recieved</label>
        <br>
        <input type="text" class="dataInput" value="" name="vaccinated" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date Vaccinated (YYYY-MM-DD)</label>
        <br>
        <input type="text" class="dataInput" value="" name="dateVaccinated" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Date Vaccination Effective (YYYY-MM-DD) </label>
        <br>
        <input type="text" class="dataInput" value="" name="dateVacEffective" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Vaccination Type</label>
        <br>
        <input type="text" class="dataInput" value="" name="vaccinationType" required>
      </div>
      <div class="dataTile">
        <label for="" class="dataTitle">Reason For No Vaccination</label>
        <br>
        <input type="text" class="dataInput" value="" name="reasonForNoVac" required>
      </div>
    </div>
  </div>

  <div class="row" style="justify-content: center">
    <button class="btn btn-success" type="submit" name="confirm" onclick="return insertTenantsData()">
      <i class="fa fa-plus"> Add Tenant</i>
    </button>
  </div>
  <br>
</form>

<center>
  <span id="tenant-added-confirmation"></span>
</center>
<br>

<script>
  function searchForTenants() {
    console.log("Searching for tenant")
    var addTenantName = document.forms["searchTenantsForm"]["searchTenantName"].value;
    params = 'searchTenantName='+searchTenantName;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Edit', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

  /////////////////////////////////////////////////////////////////////////

  function insertTenantsData() {
    console.log("inserting tenants data...")
    var tenancyNo = document.getElementById("tenancyNo").innerText;
    var firstName = document.forms["insertTenantsForm"]["firstName"].value;
    var surname = document.forms["insertTenantsForm"]["surname"].value;
    var dob = document.forms["insertTenantsForm"]["dob"].value;
    var locationID = document.forms["insertTenantsForm"]["locationID"].value;
    var positiveCase = document.forms["insertTenantsForm"]["positiveCase"].value;
    var status = document.forms["insertTenantsForm"]["status"].value;
    var resultDate = document.forms["insertTenantsForm"]["resultDate"].value;
    var endOfIsolation = document.forms["insertTenantsForm"]["endOfIsolation"].value;
    var vaccinated = document.forms["insertTenantsForm"]["vaccinated"].value;
    var dateVaccinated = document.forms["insertTenantsForm"]["dateVaccinated"].value;
    var dateVacEffective = document.forms["insertTenantsForm"]["dateVacEffective"].value;
    var vaccinationType = document.forms["insertTenantsForm"]["vaccinationType"].value;
    var reasonForNoVac = document.forms["insertTenantsForm"]["reasonForNoVac"].value;
    console.log(dob)
    console.log(firstName)

    params = 'tenancyNo=' + tenancyNo + '&firstName=' + firstName + '&surname=' + surname + '&dob=' + dob + '&locationID=' + locationID + '&positiveCase=' + positiveCase +
      '&status=' + status + '&resultDate=' + resultDate + '&endOfIsolation=' + endOfIsolation + '&vaccinated=' + vaccinated + '&dateVaccinated=' + dateVaccinated + '&dateVacEffective=' + dateVacEffective + '&vaccinationType=' + vaccinationType +
      '&reasonForNoVac=' + reasonForNoVac;

    console.log(params)

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", 'insertTenantData', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("tenant-added-confirmation").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }
</script>
{% endblock %}
