<style>
  .footerClass {
    bottom: 0;
    width: 100%;
    background-color: #64b145;
    padding-top: 15px;
  }

  .contactFooter {
    color: darkgreen;
  }

  .contactFooter:hover {
    color: yellow;
    opacity: 50%;
  }

  .content-left {
    border-right: 1px dotted green;
  }
</style>

<footer class="footer mt-auto footerClass">
  <div class="container-fluid text-center">

    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/HafodHousing/" roll="button" target="_blank">
        <i class="fa fa-facebook-square"> Hafod Housing</i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/hafodcares" roll="button" target="_blank">
        <i class="fa fa-facebook-square"> Hafod Care</i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/the-hendre-group" roll="button" target="_blank">
        <i class="fa fa-linkedin-square"> Hafod</i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/hafodhousing" roll="button" target="_blank">
        <i class="fa fa-twitter"> Hafod Housing</i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/hafodcare" roll="button" target="_blank">
        <i class="fa fa-twitter"> Hafod Care</i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCFzDvQIl71dPaPF2WyM8eMw/featured" roll="button" target="_blank">
        <i class="fa fa-youtube-play"> Hafod</i>
      </a>
    </section><hr>

    <section class="internal-links text-white">
      <div class="row justify-content-center">
        <div class="content-left col-lg-3 col-md-6 mb-4 mb-md-0">
          <b><h5 class="text-uppercase">Helpful Links</h5></b>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-white">Home</a>
            </li>
            <li>
              <a href="/Edit" class="text-white">Edit</a>
            </li>
            <li>
              <a href="/Login" class="text-white">Login</a>
            </li>
          </ul>
        </div>

        <div class="content-right col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <p>For general enquiries please call us on:</p>
          <a class="contactFooter" href="tel:08000248968">
            <i class="fa fa-phone"> 0800 024 8968</i>
          </a>
          <p>or email at:</p>
          <a class="contactFooter" href="mailto:enquiries@hafod.org.uk">
            <i class="fa fa-envelope"> enquiries@hafod.org.uk</i>
          </a>
        </div>
      </div>
    </section><br>
  </div>
  <div class="text-center p-3" style="background-color: white; width: 100%; padding: 25px;">
    © 2021 Hendre Limited | <a href="https://www.hafod.org.uk/legal/" target="_blank">Legal Information</a> |
    Registered under the Co-operative & Community Benefit Societies Act 2014 No. 29386R. Registered
    with the Welsh Government No. L132.
  </div>
</footer>
