<!-- <!doctype html>
<html lang="en">
  <head> -->
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Heat Maps</title>
  </head>
  <body> -->
{% extends 'generalLayout.html' %}

{% block heatmaps %}
<link rel="stylesheet" href="static/css/heatmaps.css">

<br>
<!-- carousel -->
<div class="container">
<div id="mapCarousel" class="carousel slide" data-ride="Carousel">
  <ol class = "carousel-indicators">
    <li data-target="#mapCarousel"
    data-slide-to="0" class="active"></li>
    <li data-target="#mapCarousel"
    data-slide-to="1"></li>
  </ol>
<div class="carousel-inner">

    <div class = "carousel-item active">
      <h1>k</h1>
    </div>
    <div class = "carousel-item">
      <p> stop </p>
    </div>

    <!-- previous button for slider -->
</div>
<a href="#mapCarousel"
class="carousel-control-prev" role="button"
data-slide="prev">
<span class="sr-only">previous</span>
<span class="carousel-control-prev-icon"
aria-hidden="true"></span></a>

<!-- next button for slider -->

<a href="#mapCarousel"
class="carousel-control-next" role="button"
data-slide="next">
<span class="sr-only">next</span>
<span class="carousel-control-next-icon"
aria-hidden="true"></span></a>
</div>
</div>

  <!-- heatmaps -->

<div class="container">
  <div class="row">
    <div class="col jumbotron" id = "vaccination">Vaccinated</div>
    <div class="col jumbotron" id = "affected">Affected</div>
  </div>
  <div class="row">
    <div class="col jumbotron" id = "vaccinationDesc">Vaccinated desc.</div>
    <div class="col jumbotron" id = "affectedDesc">Affected desc.</div>
  </div>
</div>
<br>
{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> -->
