{% extends 'generalLayout.html' %}

{% block mainPage %}
<link rel="stylesheet" href="static/css/heatmaps.css">
<link rel="stylesheet" href="static/css/successMessage.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <center>
        <div class="alert alert-success alert-dismissible success-message-block" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ msg }}
        </div>
      </center>
    {% endfor %}
  {% endif %}
{% endwith %}

  <!-- Maps and Graphs -->
<div class="container">
  <div class="row">
    <!-- Adapted from https://stackoverflow.com/questions/36137161/using-flask-to-embed-a-local-html-page -->
    <div id="maps">
      <iframe src="{{ url_for('displayProperties') }}" scrolling="no" style="height: 500px; width: 500px; margin-top: -250px;">
      </iframe>
    </div>

    <!-- Description -->
    <div class="col-md-6 h-100"> <!-- id="descriptions"-->
      <center>
        <p>This map displays all the properties owned by Hafod across Wales.
           <a href="/mapOfProperties">Click here</a> to find full map view of properties.
        </p>
      </center>
    </div>
  </div>

  <div class="row">
    <div id="maps">
      <iframe src="{{ url_for('infectedMap') }}" scrolling="no" style="height: 500px; width: 500px; margin-top: -250px;">
      </iframe>
    </div>

    <!-- Description -->
    <div class="col-md-6 h-100">
      <center>
        <p>This heatmap highlights up-to-date information about new cases
          of COVID-19 near Wales.
           <a href="/infectedHeatmap">Click here</a> for full heatmap view.
        </p>
      </center>
    </div>
  </div>

  <div class="row">
    <div id="maps">
      <iframe src="{{ url_for('infectedandPropertiesMap') }}" scrolling="no" style="height: 500px; width: 500px; margin-top: -250px;">
      </iframe>
    </div>

    <!-- Description -->
    <div class="col-md-6 h-100">
      <center>
        <p>This heatmap highlights up-to-date information about new cases
          of COVID-19 near Wales around properties owned by Hafod.
           <a href="/propertiesAndCovidHeatMap">Click here</a> for full heatmap view.
        </p>
      </center>
    </div>
  </div>

  <div class="row">
    <div id="maps">
      <canvas id="tenantsVaccinationChart"></canvas>
    </div>

    <!-- Description -->
    <div class="col-md-6 h-100">
      <center>
        <p>This bar graph shows the number of vaccinated and non-vaccinated Residences
           <a href="/tenantsVaccinated">Click here</a> for a larger view of the bar chart.
        </p>
      </center>
    </div>
  </div>

  <div class="row">
    <div id="maps">
      <canvas id="tenantsInfectedChart"></canvas>
    </div>

    <!-- Description -->
    <div class="col-md-6 h-100">
      <center>
        <p>This bar graph shows the number of Residents who are infected and not infected
          by COVID-19.
           <a href="/tenantsInfected">Click here</a> for a larger view of the bar chart.
        </p>
      </center>
    </div>
  </div>
  <!-- Part of postponed user story issue #31 -->
 <!-- <div class="row">
   <div id="maps">
     <iframe src=" url_for('vaccinationsHeatmap') }}" scrolling="no" style="height: 500px; width: 500px; margin-top: -250px;">
     </iframe>
   </div> -->

   <!-- Description -->
   <!-- <div class="col col-md-6 h-100" id = "descriptions">
     <p>Find full vaccinations heatmap here:
       <a href="/vaccinationsHeatmap">Vaccinations Heatmap</a>
     </p>
   </div>
 </div> -->

</div>
<br>

<script>

var tenantsVaccChart = document.getElementById('tenantsVaccinationChart').getContext('2d');
var myChart = new Chart(tenantsVaccChart, {
    type: 'bar',
    data: {
        labels: ['Vaccinated', 'Not Vaccinated'],
        datasets: [{
            label: 'Graph of Number Residences Vaccinated',

            data: [{{ tenantsVaccinated }}, {{ tenantsNonVaccinated }} ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    }
}
});

var tenantsInfChart = document.getElementById('tenantsInfectedChart').getContext('2d');
var myChart = new Chart(tenantsInfChart, {
    type: 'bar',
    data: {
        labels: ['Positive', 'Negative'],
        datasets: [{
            label: 'Graph of Number Residences Infected',

            data: [{{ tenantsInfected }}, {{ tenantsNotInfected }} ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    }
}
});

</script>


{% endblock %}
