<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Bootstrap libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" <!-- Bootstrap core CSS -->

    <!-- Leaflet libraries -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="static/js/leaflet-heat.js"></script>

    <!-- CSS for navbar -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarStyle.css') }}">

    <title>Infected - Heatmap</title>
  </head>
  <body>

    <style>
      #map {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    </style>

    <!-- navbar -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <div>
            <img style="height:100px;" src="{{ url_for('static', filename='img/Hafod_Logo.jpg') }}">
          </div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="my-navbar-coll collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto mb-2 mb-md-0">
            <!-- <li class="nav-item custom-link">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li> -->
            <li class="nav-item custom-link">
              <a class="nav-link" href="/">All Maps</a>
            </li>
            <li class="nav-item custom-link">
              <a class="nav-link" href="#">Edit</a>
            </li>
            <li class="nav-item custom-link">
              <a class="nav-link" href="/Login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- map container -->
    <div id="map"></div>

    <script>
      // Create map and set the view with Lat and Long of Wales, 7 is zoom of map and user cannot zoom further than that
      var map = L.map('map', {
        minZoom: 7
      });

      // Add the tile/style of the map from maptiler.com
      L.tileLayer('https://api.maptiler.com/maps/topo/{z}/{x}/{y}.png?key=kf18TBKn7WwhY9jnWCm8', {
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
      }).addTo(map);

      map.setView([52.1307, -3.7837], 7);


      // Creating the heatmap
      var heat = L.heatLayer([
        // lat,    lng,    intensity
        //WAITING ON DATA VALUES
        //NEED TO IDENTIFY INTENSITY SCALE
        //
      	[51.4816, -3.1791, 0], // Cardiff
      	[51.6816, -3.3731, 0.9], // Mountain Ash
        [51.6740, -4.9086, 0.4], // Pembroke
        [51.6727, -4.7036, 0.6], // Tenby
        [51.6214, -3.9436, 0], // Swansea
        [52.3015, -3.5106, 0.8], // Rhayader
        [51.5842, -2.9977, 0], // Newport
        [52.1129, -4.0785, 0.6], // Lampeter
        [52.4153, -4.0829, 0.5], // Aberystwyth
        [51.9489, -3.3915, 0.9] // Brecon
      ], {
        radius: 25,   // Radius of the heat
        minOpacity: 0.4,    // Minimum opacity of the intensity/heat
        max: 1, // This is default intensity

        // The colour gradient to visualise the intensity
        gradient: {
          '0': 'Navy',
          '0.25': 'Navy',
          '0.26': 'Green',
          '0.5': 'Green',
          '0.51': 'Yellow',
          '0.75': 'Yellow',
          '0.76': 'Red',
          '1': 'Red'
        }
      }).addTo(map);

      console.log(heat);    // Printing to console to see my result

    </script>
  </body>
</html>
